font-family:Arial, Helvetica, sans-serif !important;
}
p{
    font-size: 15px !important;
}
body, #fd_listing { 
font-family: 'Arial', sans-serif; 
font-size: 14px; 
line-height: 1.8em;
font-weight: lighter;
}

a[href], input[type='submit'], input[type='image'], label[for], select, button, .pointer {
cursor: pointer;
}

h1, h2, h3, h4, h5, h6 { 
color: #313539;
font-family: Unica One;
font-weight: normal;
font-style: normal;
text-transform: uppercase;
color: #4a4a4a;
display: block;
letter-spacing: 1px;
/* text-rendering: optimizeLegibility; */
-webkit-font-smoothing: antialiased;	
line-height: 1.5em;
}

#fd_listing { 
background: #ffffff; 
position: relative !important;
color: #363636
}

.small{
line-height: 2 !important;
}

hr {
border: 0;
height: 0;
border-bottom: 1px solid rgba(66, 66, 66, 0.3);
margin-left: 10px;
margin-right: 10px;
}


#fd_listing h2 { font-size: 25px; font-weight: normal; color: #4a4a4a; line-height: 1.25em; }
#fd_listing h3 { font-size: 24px;}
#fd_listing h6 { font-size: 14px;}

#fd_listing i { font-family: FontAwesome !important; }

#fd_listing strong { 
font-weight: bold;
}
.st-note{
color:white;
}
p .tipck{
margin: -30px 0 10px !important;
}

@media screen and (max-width: 768px) {
.row {
margin-left: 0px;
margin-right: 0px;
}	

}

/* Bootstrap 5 Columns */ 
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
position: relative;
min-height: 1px;
padding-right: 10px;
padding-left: 10px;
}

.col-xs-15 {
width: 20%;
float: left;
}

@media (min-width: 768px) {
.col-sm-15 {
width: 20%;
float: left;
}
}
@media (min-width: 992px) {
.col-md-15 {
width: 20%;
float: left;
}
}
@media (min-width: 1200px) {
.col-lg-15 {
width: 20%;
float: left;
}
}

.top-nav { 
background: rgba(50,50,50,0.4);  
position: absolute; 
top: 0; 
width: 100%; 
padding: 13.5px 0; 
z-index: 999;
font-size: 16px; 
}

.header-contact { text-align: right; }

#mobile-nav, .mobile-nav { display: none; }

@media screen and (min-width: 768px) and (max-width: 992px)  {
.top-nav { 
padding: 11px 0;

}
}

@media screen and (max-width: 768px)   {
.top-nav { 

padding: 6px 0; 
font-size: 14px; 


}



.top-nav .col-xs-4, .top-nav .col-xs-6, .top-nav .col-xs-8, .top-nav .col-xs-2 { padding: 0 !important; }

.mobile-nav { 
position: relative; 
}



.mobile-nav { 
position: absolute; 
left: 0; 
top: 55px; 
width: 100%; 
background: rgba(50,50,50,0.4);    
color: #fff; 
border-top: 1px solid #313131; 
line-height: 40px;
display: none;

}

.mobile-nav ul li a { 
padding-left: 15px; padding-right: 15px; 
display: block; 
color: #fff;
}

.mobile-nav ul li a:hover { 
text-decoration: none;
}

#mobile-nav { display: none; }
#mobile-nav:checked + .mobile-nav { display: block; }



}

@media screen and (max-width: 420px)   {
.top-nav, .top-nav * { font-size: 12px !important; }
}

@media screen and (max-width: 319px)   {
.mobile-menu-text { 
display: none;}
}


.top-nav a, .top-nav a:link { 
color: #fff !important; 
}

.top-nav a:hover, .top-nav a:focus {
color: #f2f2f2 !important;
text-decoration: none; 
}

.top-nav ul { 
margin: 0; 
}

.top-left li { 
padding: 0 8px; 
}

.top-left li:first-child {
padding-left: 0; 
}

.top-left li:last-child { 
padding-right: 0; 
}

.top-left img:hover { 
opacity: 0.9; 
}

.top-contact a:hover { 
text-decoration: none; 
}

.top-contact img:hover { 
opacity: 0.9; 
}





.home { 
border-left: 1px solid #fff; 
}


.orange-text { 
color: #DF5226;
}

/* Hero */ 
.hero { 
width: 100%;
height: 500px;
position: relative;
/* background-size: 100% auto;
background-image: url('https://wangchengbaby.github.io/listing_1/image/change-head.jpg');
background-repeat: no-repeat; */

}




.hero-text { 
margin-top: 338px;

}

.hero-text h2 { 
color: #313539; 
font-size: 48px !important;
background: rgba(255,255,255,0.60);
display: inline-block;
padding: 30px;
margin-bottom: 50px;
}

.btn-hero, .btn-hero:hover { 
background: #1b1f23; 
border-radius: 0; 
color: #fff;
text-transform: uppercase;
padding: 15px 40px;
text-rendering: optimizeLegibility;
-webkit-font-smoothing: antialiased;	
line-height: 1.5em;
font-size: 16px !important;
}



.hero-text h3 { 
color: #fff; font-size: 18px; font-weight: 400; margin-bottom: 20px; letter-spacing: 4px
}

.hero-text .btn-demo {
background: transparent; border: 1px solid #fff; color: #fff; border-radius: 0; font-weight: 300; letter-spacing: 2px;

}

.hero-text .btn-demo:hover { 
color: #fff; 
}

.hero-brands { 
position: absolute; 
bottom: 30px;
width: 100%;
}

@media screen and (max-width: 768px) {

.hero { 

/* background-image: url(#); 
height: 550px; */

}

.hero-text { 
margin-top: 184px; 
}

.hero-text h2 { 
font-size: 36px !important; 
}

.btn-hero, .btn-hero:hover { 
padding-left: 15px;
padding-right: 15px;
font-size: 16px;
}

}



.listing-title { 

line-height: 38px;
}

.listing-title h1 { 
color: #fff; 
margin: 0; 
font-size: 14px; 
line-height: 38px;

}



.statement { 
font-family: 'Lato', sans-serif !important; 
text-align: Center; 
padding-top: 50px; 
padding-bottom: 80px; 
font-size: 20px; 
line-height:30px;
background: #FFFFFF; 
color: #363636; 
font-weight: 400;

}

.statement * {
font-family: 'Lato', sans-serif !important; 
font-size: 20px !important;
font-weight: 400;
}

p{
font-size: 15px !important;
}

.statement ul{   
list-style: none; /* Remove list bullets */
padding: 0;
margin: 0;
}

.statement li { 
margin: 0px 0px 15px 0px;

}

.statement li:before {
content: "\e165"; /*\e080";*/
font-family: 'Glyphicons Halflings';
font-size: 9px;
padding-right: 8px;
color: #DF5226; /* Or a color you prefer */
}

.intro { 
padding-bottom: 40px;
}

.intro p { 
margin-bottom: 40px; 
}

.intro strong { 
color: #333; 
}



@media screen and (max-width: 600px) {

.statement * { 
font-size: 18px !important;
}

.statement li { 
margin: 0px 0px 20px 0px;

}
}

.icons { 
padding-top: 40px; 
padding-bottom: 40px; 
background: #fbfbfb; 
}

.icons h3 { 
font-size: 15px !important;
margin-top: 30px;
margin-bottom: 20px;


}

.icon-text { 

}


@media screen and (max-width: 768px) {
.icon-text { height: 120px; }
}

/* Slider 2 */ 
@import "compass/css3";

.slider-2-container{
display: none; 
padding-top: 40px; 
padding-bottom: 100px; 
width: 100%;
height: 500px;


}

#slide1switch:checked ~ #slide1,
#slide2switch:checked ~ #slide2,
#slide3switch:checked ~ #slide3{
display: block;

}

.slider-2 { 	
position: relative; 

}

.slider-2 h2 { 

margin-bottom: 30px; 
}

.slider-2 input{ display:none;}


#slider-2-pagination { 
position: absolute; 
bottom: 20px; 

}

#slider-2-pagination label {
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px;
display: inline-block;
width: 20px;
height: 20px;
background: #615e57;
cursor:pointer;
}

#slide1switch:checked ~ #slider-2-pagination label:nth-child(1),
#slide2switch:checked ~ #slider-2-pagination label:nth-child(2),
#slide3switch:checked ~ #slider-2-pagination label:nth-child(3) {
background: #DF5226 !important;
cursor:pointer;
}


.slide-image, .slide-text { 

-webkit-animation-duration: 2s !important;
-webkit-animation-delay: 0.3s;

-moz-animation-duration: 2s !important;
-moz-animation-delay: 0.3s;

-o-animation-duration: 2s !important;
-o-animation-delay: 0.3s;

animation-duration: 2s !important;
animation-delay: 0.3s;
-ms-animation-duration: 2s !important;

}

@media screen and (max-width: 768px) {
.slide-text { text-align: center; }

.slider-2-container  { 
padding-top: 0px;
}
}

.slider2-slide1 { 
background-image: url('../img/makers1.jpg');
background-repeat: no-repeat;
background-size: cover;
background-position: left center;
}

.slider2-slide2 { 
background-image: url('../img/makers2.jpg');
background-repeat: no-repeat;
background-size: cover;
background-position: left center;
}

.slider2-slide3 { 
background-image: url('../img/makers3.jpg');
background-repeat: no-repeat;
background-size: cover;
background-position: left center;
}

@media screen and (max-width: 1024px) {
.slider-2-container  { 
height: 450px;
padding-top: 0px;
}

.slide-text { padding-left: 30px;}
.slide-text { padding-top: 30px;}

.slide-text * { font-size: 16px !important;}


.slider2-slide1 { 
background-image: url('../img/makers1.jpg');
}

.slider2-slide2 { 
background-image: url('../img/makers2.jpg');
}

.slider2-slide3 { 
background-image: url('../img/makers3.jpg');
}


}


@media screen and (max-width: 768px) {
.slider-2-container  { 
background-image: none; 
background-color: #E2D7C7;
height: auto; 
}

.slide-text { padding-top: 30px; padding-left: 0;  }
.slide-text * { font-size: 16px !important; }

.slide-text p {text-align: left; }


}


.video { 
padding-top: 40px;
padding-bottom: 40px;
}

.video h2 { 
margin-bottom: 3px;
}

.video h4 { 
font-size: 16px; 
letter-spacing: 3px; 
margin-top: 0;
margin-bottom: 15px;
}

.colours-banner{
width:100%;
padding-top:40px;
padding-bottom:20px;

}

.colours-banner img{
width:100%;

}


.satisfaction { 
padding-top: 140px; 
background: url('https://wangchengbaby.github.io/listing_1/image/silide_3.jpg'); 
background-position: top center;
background-repeat: no-repeat;
background-size: cover;
color: #fff;
height: 546px;
}

.satisfaction h2 { 
color: #fff !important;
margin-bottom: 30px;
font-size: 30px !important;

}

.satisfaction p { 
font-size: 18px !important;
}




@media screen and (max-width: 768px) {

.satisfaction { 
padding-top: 30px; 
padding-bottom: 30px; 
text-align: center; 
background: url('https://wangchengbaby.github.io/listing_1/image/silide_3.jpg'); 
background-repeat: no-repeat;
height: 452px;
}

.satisfaction-icon { 
margin-top: 20px;
margin-bottom: 20px;
}

.satisfaction-text p {text-align: left; }

}

.featured {
margin-top: 25px;
}

.featured p {
margin: 0;
font-family: 'Avenir Next LT Pro demi' !important;
}

/*dropdown*/

.sidebar-nav {
padding: 9px 0;
}

.dropdown-menu .sub-menu {
left: 100%;
position: absolute;
top: 0;
visibility: hidden;
margin-top: -1px;
}

.dropdown-menu li:hover .sub-menu {
visibility: visible;
}

.dropdown:hover .dropdown-menu {
display: block;
}

.selector {
padding-top: 40px;

}

.selector .inline {
display: inline;
}

.selector-icons label img {

height:130px;
margin-left: 10px;
margin-right:10px;

}

.selector-dropdown label img{
height:30px;
margin-left:10px;
padding:0px;
display:ndone;
}

.mobile-selector-icon img{
width:70%;
}

.accordion-selector .accordion-content {
margin-bottom:40px !important;

}



.selector-icons label {
-webkit-transition: color 0.3s ease;
-moz-transition: color 0.3s ease;
-o-transition: color 0.3s ease;
border-style: solid;
border-width: 1px;
border-radius: 10px;
border-color: #FAF5ED;  
color: #FAF5ED;

}

.selector-icons label p {
font-size: 14px !important;
}

.selector label:hover {

border-style: solid;
border-width: 1px;
border-radius: 10px;
border-color: #FAF5ED;
color: rgb(64, 61, 58);

}

@media screen and (min-width: 768px) {

.selector .accordion {
margin-top: 20px;
}

}

.finishes { 
padding-top: 40px; 
padding-bottom: 40px;



}

.finishes p { 
margin-bottom: 30px; 
}

.finishes-image { 
background-image: url('https://wangchengbaby.github.io/listing_1/image/middle.gif'); 
background-size: contain;
background-repeat: no-repeat;
}

.finishes-image:hover { 
background-image: url('https://wangchengbaby.github.io/listing_1/image/middle.gif'); 
}

@media screen and (max-width: 768px) {
.finishes-image, .finishes-image:hover { 
display: none;
}

}

.finishes-info { 
position: relative; 
margin-top: 30px;

}

.finishes-info p { 
margin-bottom: 30px;
}




@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 768px) {

}


.delicate { 
width: 100%;
height: 500px;
background-image: url('https://wangchengbaby.github.io/test/666.jpg');
background-repeat: no-repeat;
background-size: cover;
background-position: bottom right;
padding-top: 25px;
margin-bottom: 40px;

}

.delicate p, .delicate li { 
line-height: 26px;
}





.delicate h2 { 

margin-bottom: 30px;
margin-top: 0;

}

.delicate p { 
margin-bottom: 15px;
}

@media screen and (max-width: 768px) {


.delicate { 
width: 100%;
height: 300px;
background-image: url('https://wangchengbaby.github.io/test/666.jpg');

}

.delicate ul li { 
padding-left: 0; 

}

.delicate ul li:before { 
display: none;
}

}

.leg-selector { 
margin-bottom: 40px; 
}


.leg-selector h2 { 

margin-bottom: 30px;
margin-top: 0;
}


.thumbnails { 

}


.gallery .thumb { 


}

.gallery .thumbs { margin-top: 40px; padding-left: 10px; }

.gallery .thumbs .col-md-2 { 
padding-left: 7px;
padding-right: 7px;
}



.gallery .thumbs label { 
display: block;
position: relative;
margin-bottom: 15px;
z-index: 999;
}

.gallery .thumbs label span { 
display: none;
font-weight: normal; 
margin-top: 15px;
margin-bottom: 15px;
font-family: 'Lato', sans-serif; 
font-size: 13px;
position: absolute; 
bottom: -15px;
left: 0;
background: #fff;
padding: 3px;
width: 100%;
}

.gallery .thumbs label:hover > span { display: block; }

.gallery .main-image .gallery-image { display: none; }
.gallery input:checked + div { display: block; }
.gallery .image-selector { display: none; }

.gallery-image { 
margin-left: -15px;
margin-bottom: 30px;
}

.main-image { 
position: relative;
}

.main-image img { 
height: 550px;
}

.gallery-caption { 
background: #fff;
padding: 15px; 
position: absolute;
right: 15px;
bottom: 100px;
color: #313539;
font-size: 18px !important;
color: #313539;
font-family: Unica One;
}

@media screen and (max-width: 992px) {

.gallery .thumbs { padding-left: 0px; }

.gallery-caption { 
top: 0; 
bottom: initial;
right: 15%;
left: 15%;
text-align: center;

}

}

.inspired { 
width: 100%;
height: 700px;
background-image: url('../img/inspired.jpg');
background-repeat: no-repeat;
background-size: cover;
background-position: left center;
padding-top: 20px; 
padding-bottom: 40px;

}

.inspired-text { 
margin-bottom: 40px; 
}

@media screen and (max-width: 1024px) {
.inspired { 

height: 450px; 
background-image: url('../img/inspired-1024.jpg');
}
}

@media screen and (max-width: 768px) {
.inspired { 
background-image: none; 
text-align: center !important; 
padding-top: 30px; 
padding-bottom: 30px; 
height: auto; 
}

.inspired-text { 
margin-bottom: 30px; }	

.inspired-text h2 {text-align: center !important; }

.inspired-text p {text-align: left; }

}




.finishes h2, .satisfaction h2, .faqs h2, .slider-2 h2 { 
margin-top:0; 

}

.customers { 
padding-bottom: 40px;

}

.customer-img { 
margin-bottom: 8px; 
}

.our-customers-text { 
text-align: center;
padding-top:40px; 
padding-bottom:40px; 
}


.our-customers-heading { 
text-align: center;

}


.trade { 
width: 100%;
height: 510px;
background-image: url('https://wangchengbaby.github.io/listing_1/image/family1.jpg');
background-repeat: no-repeat;
background-size: cover;
background-position: center center;
padding-top: 123px; 
padding-bottom: 108px; 
color: #fff;
margin-bottom: 40px;

}

.trade h2 { 
color: #fff !important;
margin-bottom: 30px;

}

.trade .hero-button { 
margin-top: 40px;
}

@media screen and (max-width: 768px) {
.trade { 
background-image: url('https://wangchengbaby.github.io/listing_1/image/family1_768px.jpg');
width: 100%;
height: 300px;
padding-top: 20px;
padding-bottom: 20px;
}	

.trade h2 { 
font-size: 22px !important;
}
.trade .hero-button { 
margin-bottom: 30px;
}


}



.review { 
font-family: 'Avenir Next LT Pro Italic' !important; 
padding-bottom: 30px; 
margin-bottom: 30px; 
border-bottom: 1px solid #E2D7C7; 
text-align: center; 

}

.review * { 
font-family: 'Avenir Next LT Pro Italic' !important; 

}

.review-by { 
font-family: 'Lato', sans-serif !important; 
margin-top: 20px; 

}

.stars { 
margin-right: 5px; 
}

.stars i{ 
color: #DF5226; 
margin-right: 3px; 
}

@media screen and (max-width: 768px) {
.customers-img { 
margin: 0 auto 8px auto; 
}
}


.faqs { 
padding-top: 40px; 
padding-bottom: 40px;

}

.faqs h2 { 
margin-bottom: 30px; 

}

.accordion input { 
display: none; 
}



.accordion label { 
display: block; 
background: #fff; 
cursor: pointer; 
margin: 0;
color: #848484;
border-top: 1px solid #e1e1e1;
color: #444;
cursor: pointer;
padding: 18px;
width: 100%;
font-family: Unica One;
font-weight: 300;
font-size: 20px;
text-rendering: optimizeLegibility;
-webkit-font-smoothing: antialiased;
text-transform: uppercase;

}

.accordion label:hover { 
background: #fff;
color: #494949

}

.accordion-panel { 

}

.accordion-content { 
display: none; 
background: #fff; 
padding: 0 18px; 
margin-bottom: 20px;  
position: relative; 
line-height: 20px;
}



.accordion input:checked ~ label { 
color: #494949
}

.accordion input:checked ~ label:hover { 
background: #fff; 
}

.accordion input ~ label span:after {
font-family: 'FontAwesome' !important; 
content: "\f107"; 
color: #494949

}

.accordion input:checked ~ label span:after { 
font-family: 'FontAwesome' !important; 
content: "\f106"; 
color: #494949
}

.accordion input:checked ~ div {
display: block;

}

@media screen and (max-width: 768px) {
.faqs { 
padding-top: 20px; 
padding-bottom: 20px; 

}

.faqs h2 { 
text-align: center; 
}

.accordion-content { 
padding: 15px !important;
}

}


.technical { 
padding-top: 40px; 
padding-bottom: 40px;
display: none;
}



.technical h2 { 
margin-bottom: 30px; 
}

.technical .dropdown { 
cursor: pointer; 
}

.technical .dropdown-menu { 
margin: 0; 
padding: 10px;
min-width: 200px;
border-radius: 0;
box-shadow: 0;
}

.technical .dropdown-menu li { 
padding: 0 !important;
}

.technical .dropdown-menu li label { 
display: block;
padding: 5px;
cursor: pointer;
color: #848484; 
font-weight: normal;
}

.technical .dropdown-menu li label:hover, .technical .dropdown-menu li.active label  { 
color: #313539;
}

.technical th, .technical td { text-align: center; }

.technical .table-bordered>thead>tr>th { color: #313539; }

.technical .table-bordered { border: 1px solid #e1e1e1; }
.technical .table-bordered>thead>tr>td, .technical .table-bordered>thead>tr>th { 
border-top: 1px solid #e1e1e1; 	
border-bottom: 1px solid #e1e1e1; 	
}


.table-bordered>thead>tr>td, .table-bordered>thead>tr>th.table>caption+thead>tr:first-child>td, .table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>td, .table>thead:first-child>tr:first-child>th

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th { padding: 15px !important; }

.technical .table-responsive { 
width: 1px;
min-width: 100%;
*width: 100%;
}

.technical ul.tech-spec { 
border-bottom: 1px solid #e1e1e1;
margin-bottom: 20px;

}

.technical ul.tech-spec li:first-child { 
padding-left: 0; 
}

.technical ul.tech-soec li:last-child { 
padding-right: 0; 
}

.technical table th strong, .technical ul li strong {
color: #313539;

}

.technical ul.tech-spec li { 
padding: 10px;
}

.technical .colour { 
width: 18px;
height: 18px; 
border-radius: 50%; 
display: inline-block;
margin-left: 5px;
}

.technical .technical-overview { 
margin-bottom: 30px;
}

@media screen and (max-width: 768px) {

.technical { 
padding-top: 30px; 
padding-bottom: 30px;
}

.technical h2 { text-align: center; }

.technical .table-responsive { border: none; }

.technical ul.tech-spec { border-bottom: none; }

.technical ul.tech-spec li{ 
display: block;
text-align: left;
padding: 20px 0 20px 0;
border-bottom: 1px solid #e1e1e1;
}

.technical ul li .colour { 
margin-top: 15px; 
}

.mobile-specs { 
font-size: 13p !important;

}

.table>tbody>tr>td { 
padding: 10px 4px;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th { 
border-top: none; 

}

.table>tbody>tr { 
border-bottom: 1px solid #e1e1e1;
}

.table>tbody>tr>td.heading { 
padding-top: 20px;
color: #313539; 
}

}

.table-responsive {

-webkit-overflow-scrolling: touch;
}

.custom-sizes { 
color: #fff; 
width: 100%;
height: 500px;
background-image: url('../img/custom-sizes.jpg');
background-repeat: no-repeat;
background-size: cover;
background-position: center center;
padding-top: 40px; 
padding-bottom: 40px;

}


@media screen and (max-width: 1024px) {
.custom-sizes { 
height: 450px; 
background-image: url('../img/custom-sizes.jpg');
}
}


@media screen and (max-width: 768px) {
.custom-sizes { 
background-image: none; 
color: #403d3a !important; 
text-align: center; 
padding-top: 30px; 
padding-bottom: 30px;
height: auto; 
}

.custom-sizes-text p { 
margin-bottom: 30px; 
}
}

.about { 
padding-top: 40px; 
padding-bottom: 40px; 
background: #fbfbfb; 
}

.about h2 { 
margin-bottom: 30px; 

}

.about h3 { 

margin-bottom: 20px; 
}

.person { margin-top: 30px; }


@media screen and (max-width: 768px) {
.about { 
padding-top: 30px; 
padding-bottom: 30px; 

}

}
@media (min-width: 768px){
.col-sm-3 {
width: 20% !important;
}
}
/* @media (min-width: 768px){
.col-sm-12 {
width: 20% !important;
}
} */
.cross-promos { 
padding-top: 40px; 
padding-bottom: 40px; 
background: #FAF5ED; 
}


.cross-promos h2 { 
margin-bottom: 30px; 
}

.promo-item img { 

margin-bottom: 20px; 
}

.promo-item { 
font-size: 15px; 
}

.promo-item h4 { 
font-size: 15px; 
margin-bottom: 10px; 

}

@media screen and (max-width: 768px) {
.cross-promos { 
padding-top: 30px; 
padding-bottom: 30px; 

}

.promo-item { 
margin-bottom: 20px; 
}

.promo-item img { 
max-width: 220px; 
}

}

.footer { 
background-color: #1e1c1d;
color: #fff; 
padding-top: 40px; 
padding-bottom: 40px; 
font-size: 13px; 
}


.headermenu{
position: relative;
z-index: 100;
cursor: pointer;
margin-bottom:20px;


}

.headermenutitle {
background: #fff;
cursor: pointer;
margin-bottom:1px;

}

.headermenutitle label{
cursor: pointer;
padding: 13px !important;
margin:0px !important;


}

.headermenutitle p{
margin: 0px !important;    

}

.headermenu ul ul {
display: none;

}


.headermenu ul{
padding:0; 
margin:0; 
width:100%;
white-space:nowrap;
list-style: none;
position: relative;
display: inline-table;
}
.headermenu ul li {
text-decoration:none;
text-align:center;
height:45px;


}

.headermenu ul li a {
color:#feaa38;
display: block;
text-decoration: none;
position: relative;
top: 50%;
transform: translateY(-50%);

}   
.headermenu ul ul {
border-radius: 0px; 
padding: 0;
position: absolute; 
top: 100%;
}
.headermenu ul ul li {
float: none; 
background: #ffffff;
position: relative;

}
.headermenu ul ul li p {
font-size: 14px !important;
}


.headermenu ul ul li a {
color: #ffffff;
}    
.headermenu ul ul ul {
position: absolute; 
left: 100%; 
top:0;
}
h2.animated.flipInX.note {
color: white !important;
}

/* img.img-responsive.customer-img.center-block.bbc:hover {
transform: scale(1.5);
position: absolute !important;
z-index: 1;
} */
@media screen and (max-width: 768px){
.tic {
width: 20% !important;
}
}   

/************************
Cross sell
************************/

.also-like{
margin-top:40px;
margin-bottom: 30px;
}

.also-like img{
width: 100%;
}
.col-md-8 p {
font-size: 17px;
}

.css-slider-wrapper {
display: block;
background: #FFF;
overflow: hidden;
position: absolute;
left: 0;
right: 0;
top: 0;
bottom: 0;
}
/* Slider */
.slider {
width: 100%;
height: 100%;
background: white;
position: absolute;
left: 0;
top: 0;
opacity: 1;
z-index: 0;
display: flex;
display: -webkit-flex;
display: -ms-flexbox;
flex-direction: row;
flex-wrap: wrap;
-webkit-flex-align: center;
-webkit-align-items: center;
align-items: center;
justify-content: center;
align-content: center;
-webkit-transition: -webkit-transform 1600ms;
transition: -webkit-transform 1600ms, transform 1600ms;
-webkit-transform: scale(1);
transform: scale(1);
}
/* each slide backgound color */  
.slide1 {
background-image: url('https://wangchengbaby.github.io/widthlight/images/banner2.jpg');
background-repeat: no-repeat;
background-size: cover;
background-position: center center;
/* background: #00bcd7; */
left: 0;
}
.slide2 {
background-image: url('https://wangchengbaby.github.io/listing_1/image/Carousel_3.jpg');
background-repeat: no-repeat;
background-size: cover;
background-position: center center;
/* background: #009788; */
left: 100%
}

.slide3 {
background-image: url('https://wangchengbaby.github.io/listing_1/image/Carousel_2.jpg');
background-repeat: no-repeat;
background-size: cover;
background-position: center center;
/* background: #ff5608; */
left: 200%
}
/* .slide4 {
background-image: url('https://wangchengbaby.github.io/listing_1/image/Carousel_4.jpg');
background-repeat: no-repeat;
background-size: cover;
background-position: center center;
background: #607d8d;
left: 300%; 
} */

/* @media screen and (max-width: 768px){

.slider {
width: 100%;
height: 100%;
background: red;
position: absolute;
left: 0;
top: 0;
opacity: 1;
z-index: 0;
display: flex;
display: -webkit-flex;
display: -ms-flexbox;
flex-direction: row;
flex-wrap: wrap;
-webkit-flex-align: center;
-webkit-align-items: center;
align-items: center;
justify-content: center;
align-content: center;
-webkit-transition: -webkit-transform 1600ms;
transition: -webkit-transform 1600ms, transform 1600ms;
-webkit-transform: scale(1);
transform: scale(1);
}   

.slide1 {
background-image: url('https://wangchengbaby.github.io/listing_1/image/Carousel_1_768px.jpg');
width: 100%;
height: 300px;
left: 0;
}
.slide2 {
background-image: url('https://wangchengbaby.github.io/listing_1/image/Carousel_3_768px.jpg');
width: 100%;
height: 300px;
left: 100%
}

.slide3 {
background-image: url('https://wangchengbaby.github.io/listing_1/image/Carousel_2_768px.jpg');
width: 100%;
height: 300px;
left: 200%
}

} */

.slider > div {
text-align: center;                     
}
/* Slider inner slide effect */
.slider h2 {
color: #FFF;
font-weight: 900;
text-transform: uppercase;
font-size: 45px;
line-height: 120%;
opacity: 0;
-webkit-transform: translateX(500px);
transform: translateX(500px);
}
.slider .button {
color: #FFF;
padding: 5px 30px;
background: rgba(255,255,255,0.3);
text-decoration: none;
opacity: 0;
font-size: 15px;
line-height: 30px;
display: inline-block;
-webkit-transform: translateX(-500px);
transform: translateX(-500px);
}
.slider h2, .slider .button {
-webkit-transition: opacity 800ms, -webkit-transform 800ms;
transition: transform 800ms, opacity 800ms;
-webkit-transition-delay: 1s; /* Safari */
transition-delay: 1s;
}
/* Next and Preive arrow */ 
.control {
position: absolute;
top: 50%;
width: 50px;
height: 50px;
margin-top: -25px;
z-index: 55;
}
.control label {
z-index: 0;
display: none;
text-align: center;
line-height: 50px;
font-size: 50px;
color: #FFF;
cursor: pointer;
opacity: 0.2;
}
.control label:hover {
opacity: 0.5;
}
.next {
right: 1%;
}
.previous {
left: 1%;
}
/* Slider Pagger */ 
.slider-pagination {
position: absolute;
bottom: 20px;
width: 100%;
left: 0;
text-align: center;
z-index: 1000;
}
.slider-pagination label {
width: 10px;
height: 10px;
border-radius: 50%;
display: inline-block;
background: rgba(255,255,255,0.2);
margin: 0 2px;
border: solid 1px rgba(255,255,255,0.4);
cursor: pointer;
}
/* Slider Pagger arrow event */
.slide-radio1:checked ~ .next .numb2, 
.slide-radio2:checked ~ .next .numb3, 
.slide-radio3:checked ~ .next .numb4, 
.slide-radio2:checked ~ .previous .numb1, 
.slide-radio3:checked ~ .previous .numb2, 
.slide-radio4:checked ~ .previous .numb3 {
display: block;
z-index: 1
}
/* Slider Pagger event */
.slide-radio1:checked ~ .slider-pagination .page1, 
.slide-radio2:checked ~ .slider-pagination .page2, 
.slide-radio3:checked ~ .slider-pagination .page3, 
.slide-radio4:checked ~ .slider-pagination .page4 {
background: rgba(255,255,255,1)
}
/* Slider slide effect */
.slide-radio1:checked ~ .slider {
-webkit-transform: translateX(0%);
transform: translateX(0%);
}
.slide-radio2:checked ~ .slider {
-webkit-transform: translateX(-100%);
transform: translateX(-100%);
}
.slide-radio3:checked ~ .slider {
-webkit-transform: translateX(-200%);
transform: translateX(-200%);
}
.slide-radio4:checked ~ .slider {
-webkit-transform: translateX(-300%);
transform: translateX(-300%);
}
.slide-radio1:checked ~ .slide1 h2,  
.slide-radio2:checked ~ .slide2 h2,  
.slide-radio3:checked ~ .slide3 h2,  
.slide-radio4:checked ~ .slide4 h2,  
.slide-radio1:checked ~ .slide1 .button,  
.slide-radio2:checked ~ .slide2 .button,  
.slide-radio3:checked ~ .slide3 .button,  
.slide-radio4:checked ~ .slide4 .button {
-webkit-transform: translateX(0);
transform: translateX(0);
opacity: 1
}

@media only screen and (max-width: 767px) {
.slider h2 {
font-size: 20px;
}
.slider > div {
padding: 0 2%
}
.control label {
font-size: 35px;
}
.slider .button {
padding: 0 15px;
}
}

.tit p{
margin: -11px 0 10px;
}

@media (min-width: 768px){
.bic {
width: 20% !important;
}
}

.img-link h4{
font-size: 14px !important;
color: black !important;
}

.end-title{
font-size: 25px;
font-weight: normal;
color: #4a4a4a;
line-height: 1.25em;
font-family: Unica One;
font-style: normal;
text-transform: uppercase;
display: block;
letter-spacing: 6px;
text-rendering: optimizeLegibility;
-webkit-font-smoothing: antialiased;
}
